* {
  font-family: Hack, monospace;
}

button {
  font-family: Monoid, 'Times New Roman', Times, serif;
}

p {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 24pt;
  text-align: center;
  color: black;
  -webkit-text-fill-color: white;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}
